/* ========================================================================= */
/* color spectrum */
/* ========================================================================= */
:root {
  --slate-25: hsl(240, 20%, 99%);
  --slate-50: hsl(230, 20%, 98%);
  --slate-100: hsl(220, 24%, 96%);
  --slate-200: hsl(220, 17%, 93%);
  --slate-300: hsl(220, 16%, 84%);
  --slate-400: hsl(220, 15%, 65%);
  --slate-500: hsl(220, 13%, 46%);
  --slate-600: hsl(218, 18%, 34%);
  --slate-700: hsl(216, 24%, 27%);
  --slate-800: hsl(214, 33%, 17%);
  --slate-900: hsl(212, 43%, 11%);

  --purple-25: hsl(268, 100%, 99%);
  --purple-50: hsl(268, 100%, 98%);
  --purple-100: hsl(268, 100%, 96%);
  --purple-200: hsl(268, 95%, 92%);
  --purple-300: hsl(266, 89%, 86%);
  --purple-400: hsl(264, 85%, 77%);
  --purple-500: hsl(262, 77%, 70%);
  --purple-600: hsl(260, 63%, 59%);
  --purple-700: hsl(258, 54%, 52%);
  --purple-800: hsl(256, 48%, 42%);
  --purple-900: hsl(254, 45%, 34%);

  --red-25: hsl(4, 100%, 99%);
  --red-50: hsl(4, 86%, 97%);
  --red-100: hsl(4, 93%, 94%);
  --red-200: hsl(4, 96%, 89%);
  --red-300: hsl(4, 96%, 80%);
  --red-400: hsl(4, 92%, 69%);
  --red-500: hsl(4, 86%, 58%);
  --red-600: hsl(4, 74%, 49%);
  --red-700: hsl(4, 76%, 40%);
  --red-800: hsl(4, 72%, 33%);
  --red-900: hsl(4, 65%, 29%);

  --amber-25: hsl(42, 100%, 98%);
  --amber-50: hsl(45, 100%, 96%);
  --amber-100: hsl(45, 96%, 89%);
  --amber-200: hsl(44, 98%, 77%);
  --amber-300: hsl(42, 99%, 65%);
  --amber-400: hsl(39, 98%, 56%);
  --amber-500: hsl(34, 94%, 50%);
  --amber-600: hsl(28, 97%, 44%);
  --amber-700: hsl(22, 92%, 37%);
  --amber-800: hsl(19, 84%, 31%);
  --amber-900: hsl(18, 79%, 27%);

  --emerald-25: hsl(140, 80%, 98%);
  --emerald-50: hsl(140, 81%, 96%);
  --emerald-100: hsl(140, 80%, 90%);
  --emerald-200: hsl(144, 78%, 80%);
  --emerald-300: hsl(148, 74%, 67%);
  --emerald-400: hsl(150, 66%, 52%);
  --emerald-500: hsl(152, 82%, 39%);
  --emerald-600: hsl(154, 96%, 30%);
  --emerald-700: hsl(156, 97%, 24%);
  --emerald-800: hsl(158, 90%, 20%);
  --emerald-900: hsl(160, 88%, 16%);
}
