/* ========================================================================= */
/* color spectrum */
/* ========================================================================= */
:root {
  --slate-hsl-25: 240, 20%, 99%;
  --slate-hsl-50: 230, 20%, 98%;
  --slate-hsl-100: 220, 24%, 96%;
  --slate-hsl-200: 220, 17%, 93%;
  --slate-hsl-300: 220, 16%, 84%;
  --slate-hsl-400: 220, 15%, 65%;
  --slate-hsl-500: 220, 13%, 46%;
  --slate-hsl-600: 218, 18%, 34%;
  --slate-hsl-700: 216, 24%, 27%;
  --slate-hsl-800: 214, 33%, 17%;
  --slate-hsl-900: 212, 43%, 11%;

  --slate-25: hsl(var(--slate-hsl-25));
  --slate-50: hsl(var(--slate-hsl-50));
  --slate-100: hsl(var(--slate-hsl-100));
  --slate-200: hsl(var(--slate-hsl-200));
  --slate-300: hsl(var(--slate-hsl-300));
  --slate-400: hsl(var(--slate-hsl-400));
  --slate-500: hsl(var(--slate-hsl-500));
  --slate-600: hsl(var(--slate-hsl-600));
  --slate-700: hsl(var(--slate-hsl-700));
  --slate-800: hsl(var(--slate-hsl-800));
  --slate-900: hsl(var(--slate-hsl-900));

  --purple-hsl-25: 268, 100%, 99%;
  --purple-hsl-50: 268, 100%, 98%;
  --purple-hsl-100: 268, 100%, 96%;
  --purple-hsl-200: 268, 95%, 92%;
  --purple-hsl-300: 266, 89%, 86%;
  --purple-hsl-400: 264, 85%, 77%;
  --purple-hsl-500: 262, 77%, 70%;
  --purple-hsl-600: 260, 63%, 59%;
  --purple-hsl-700: 258, 54%, 52%;
  --purple-hsl-800: 256, 48%, 42%;
  --purple-hsl-900: 254, 45%, 34%;

  --purple-25: hsl(var(--purple-hsl-25));
  --purple-50: hsl(var(--purple-hsl-50));
  --purple-100: hsl(var(--purple-hsl-100));
  --purple-200: hsl(var(--purple-hsl-200));
  --purple-300: hsl(var(--purple-hsl-300));
  --purple-400: hsl(var(--purple-hsl-400));
  --purple-500: hsl(var(--purple-hsl-500));
  --purple-600: hsl(var(--purple-hsl-600));
  --purple-700: hsl(var(--purple-hsl-700));
  --purple-800: hsl(var(--purple-hsl-800));
  --purple-900: hsl(var(--purple-hsl-900));

  --red-hsl-25: 4, 100%, 99%;
  --red-hsl-50: 4, 86%, 97%;
  --red-hsl-100: 4, 93%, 94%;
  --red-hsl-200: 4, 96%, 89%;
  --red-hsl-300: 4, 96%, 80%;
  --red-hsl-400: 4, 92%, 69%;
  --red-hsl-500: 4, 86%, 58%;
  --red-hsl-600: 4, 74%, 49%;
  --red-hsl-700: 4, 76%, 40%;
  --red-hsl-800: 4, 72%, 33%;
  --red-hsl-900: 4, 65%, 29%;

  --red-25: hsl(var(--red-hsl-25));
  --red-50: hsl(var(--red-hsl-50));
  --red-100: hsl(var(--red-hsl-100));
  --red-200: hsl(var(--red-hsl-200));
  --red-300: hsl(var(--red-hsl-300));
  --red-400: hsl(var(--red-hsl-400));
  --red-500: hsl(var(--red-hsl-500));
  --red-600: hsl(var(--red-hsl-600));
  --red-700: hsl(var(--red-hsl-700));
  --red-800: hsl(var(--red-hsl-800));
  --red-900: hsl(var(--red-hsl-900));

  --amber-hsl-25: 42, 100%, 98%;
  --amber-hsl-50: 45, 100%, 96%;
  --amber-hsl-100: 45, 96%, 89%;
  --amber-hsl-200: 44, 98%, 77%;
  --amber-hsl-300: 42, 99%, 65%;
  --amber-hsl-400: 39, 98%, 56%;
  --amber-hsl-500: 34, 94%, 50%;
  --amber-hsl-600: 28, 97%, 44%;
  --amber-hsl-700: 22, 92%, 37%;
  --amber-hsl-800: 19, 84%, 31%;
  --amber-hsl-900: 18, 79%, 27%;

  --amber-25: hsl(var(--amber-hsl-25));
  --amber-50: hsl(var(--amber-hsl-50));
  --amber-100: hsl(var(--amber-hsl-100));
  --amber-200: hsl(var(--amber-hsl-200));
  --amber-300: hsl(var(--amber-hsl-300));
  --amber-400: hsl(var(--amber-hsl-400));
  --amber-500: hsl(var(--amber-hsl-500));
  --amber-600: hsl(var(--amber-hsl-600));
  --amber-700: hsl(var(--amber-hsl-700));
  --amber-800: hsl(var(--amber-hsl-800));
  --amber-900: hsl(var(--amber-hsl-900));

  --emerald-hsl-25: 140, 80%, 98%;
  --emerald-hsl-50: 140, 81%, 96%;
  --emerald-hsl-100: 140, 80%, 90%;
  --emerald-hsl-200: 144, 78%, 80%;
  --emerald-hsl-300: 148, 74%, 67%;
  --emerald-hsl-400: 150, 66%, 52%;
  --emerald-hsl-500: 152, 82%, 39%;
  --emerald-hsl-600: 154, 96%, 30%;
  --emerald-hsl-700: 156, 97%, 24%;
  --emerald-hsl-800: 158, 90%, 20%;
  --emerald-hsl-900: 160, 88%, 16%;

  --emerald-25: hsl(var(--emerald-hsl-25));
  --emerald-50: hsl(var(--emerald-hsl-50));
  --emerald-100: hsl(var(--emerald-hsl-100));
  --emerald-200: hsl(var(--emerald-hsl-200));
  --emerald-300: hsl(var(--emerald-hsl-300));
  --emerald-400: hsl(var(--emerald-hsl-400));
  --emerald-500: hsl(var(--emerald-hsl-500));
  --emerald-600: hsl(var(--emerald-hsl-600));
  --emerald-700: hsl(var(--emerald-hsl-700));
  --emerald-800: hsl(var(--emerald-hsl-800));
  --emerald-900: hsl(var(--emerald-hsl-900));
}
