/* ========================================================================= */
/* media breakpoints */
/* ========================================================================= */

$media--sm: 40rem; /*   640px */
$media--md: 48rem; /*   768px */
$media--lg: 64rem; /*  1024px */
$media--xl: 80rem; /*  1280px */

@mixin dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $media--sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $media--sm) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $media--sm) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $media--sm) {
    @content;
  }
}
