@use './fonts/inter/inter.scss';
@use './colors.scss';
@import './text.scss';
@import './mixins.scss';

/* Theme is directly accessible in the app and the variables may be programmatically reassigned */

/* ========================================================================= */
/* media query mixins */
/* ========================================================================= */

:root {
  --base-25: var(--slate-25);
  --base-50: var(--slate-50);
  --base-100: var(--slate-100);
  --base-200: var(--slate-200);
  --base-300: var(--slate-300);
  --base-400: var(--slate-400);
  --base-500: var(--slate-500);
  --base-600: var(--slate-600);
  --base-700: var(--slate-700);
  --base-800: var(--slate-800);
  --base-900: var(--slate-900);

  --primary-25: var(--purple-25);
  --primary-50: var(--purple-50);
  --primary-100: var(--purple-100);
  --primary-200: var(--purple-200);
  --primary-300: var(--purple-300);
  --primary-400: var(--purple-400);
  --primary-500: var(--purple-500);
  --primary-600: var(--purple-600);
  --primary-700: var(--purple-700);
  --primary-800: var(--purple-800);
  --primary-900: var(--purple-900);

  --danger-25: var(--red-25);
  --danger-50: var(--red-50);
  --danger-100: var(--red-100);
  --danger-200: var(--red-200);
  --danger-300: var(--red-300);
  --danger-400: var(--red-400);
  --danger-500: var(--red-500);
  --danger-600: var(--red-600);
  --danger-700: var(--red-700);
  --danger-800: var(--red-800);
  --danger-900: var(--red-900);

  --warning-25: var(--amber-25);
  --warning-50: var(--amber-50);
  --warning-100: var(--amber-100);
  --warning-200: var(--amber-200);
  --warning-300: var(--amber-300);
  --warning-400: var(--amber-400);
  --warning-500: var(--amber-500);
  --warning-600: var(--amber-600);
  --warning-700: var(--amber-700);
  --warning-800: var(--amber-800);
  --warning-900: var(--amber-900);

  --success-25: var(--emerald-25);
  --success-50: var(--emerald-50);
  --success-100: var(--emerald-100);
  --success-200: var(--emerald-200);
  --success-300: var(--emerald-300);
  --success-400: var(--emerald-400);
  --success-500: var(--emerald-500);
  --success-600: var(--emerald-600);
  --success-700: var(--emerald-700);
  --success-800: var(--emerald-800);
  --success-900: var(--emerald-900);

  /* ========================================================================= */
  /* text form */
  /* ========================================================================= */

  --typography-font-size--sm: var(--font-size--sm);
  --typography-line-height--sm: var(--line-height--sm);
  --typography-letter-spacing--sm: var(--letter-spacing--sm);
  @include md {
    --typography-font-size--sm: var(--font-size--md);
    --typography-line-height--sm: var(--line-height--md);
    --typography-letter-spacing--sm: var(--letter-spacing--md);
  }

  --typography-font-size--md: var(--font-size--md);
  --typography-line-height--md: var(--line-height--md);
  --typography-letter-spacing--md: var(--letter-spacing--md);
  @include md {
    --typography-font-size--md: var(--font-size--lg);
    --typography-line-height--md: var(--line-height--lg);
    --typography-letter-spacing--md: var(--letter-spacing--lg);
  }

  --typography-font-size--lg: var(--font-size--lg);
  --typography-line-height--lg: var(--line-height--lg);
  --typography-letter-spacing--lg: var(--letter-spacing--lg);
  @include md {
    --typography-font-size--lg: var(--font-size--xl);
    --typography-line-height--lg: var(--line-height--xl);
    --typography-letter-spacing--lg: var(--letter-spacing--xl);
  }

  // --heading-font-size--sm: var(--font-size--2xl);
  // --heading-line-height--sm: var(--line-height--2xl);
  // --heading-letter-spacing--sm: var(--letter-spacing--2xl);
  // --heading-font-weight--sm: var(--font-weight--medium);
  // @include md {
  //   --heading-font-size--sm: var(--font-size--3xl);
  //   --heading-line-height--sm: var(--line-height--3xl);
  //   --heading-letter-spacing--sm: var(--letter-spacing--3xl);
  //   --heading-font-weight--sm: var(--font-weight--semibold);
  // }

  // --heading-font-size--md: var(--font-size--3xl);
  // --heading-line-height--md: var(--line-height--3xl);
  // --heading-letter-spacing--md: var(--letter-spacing--3xl);
  // --heading-font-weight--md: var(--font-weight--medium);
  // @include md {
  //   --heading-font-size--md: var(--font-size--5xl);
  //   --heading-line-height--md: var(--line-height--5xl);
  //   --heading-letter-spacing--md: var(--letter-spacing--5xl);
  //   --heading-font-weight--md: var(--font-weight--medium);
  // }

  // --heading-font-size--lg: var(--font-size--4xl);
  // --heading-line-height--lg: var(--line-height--4xl);
  // --heading-letter-spacing--lg: var(--letter-spacing--4xl);
  // --heading-font-weight--lg: var(--font-weight--medium);
  // @include md {
  //   --heading-font-size--lg: var(--font-size--7xl);
  //   --heading-line-height--lg: var(--line-height--7xl);
  //   --heading-letter-spacing--lg: var(--letter-spacing--7xl);
  //   --heading-font-weight--lg: var(--font-weight--normal);
  // }

  /* ========================================================================= */
  /* text color */
  /* ========================================================================= */

  --text-color--base: var(--base-900);
  --text-color--weak: var(--base-500);
  --text-color--primary: var(--primary-600);

  @include dark {
    --text-color--base: var(--base-50);
    --text-color--weak: var(--base-300);
    --text-color--primary: var(--primary-300);
  }

  /* ========================================================================= */
  /* surface background */
  /* ========================================================================= */

  --surface-bg--base: white;
  --surface-bg--base-raised: var(--base-100);

  --surface-bg--primary: var(--primary-50);
  --surface-bg--primary-raised: var(--primary-100);

  --surface-bg--success: var(--success-50);
  --surface-bg--info: var(--info-50);
  --surface-bg--warning: var(--warning-50);
  --surface-bg--danger: var(--danger-50);

  @include dark {
    --surface-bg--base: var(--base-900);
    --surface-bg--base-raised: var(--base-800);

    --surface-bg--primary: var(--primary-900);
    --surface-bg--primary-raised: var(--primary-800);

    --surface-bg--success: var(--success-900);
    --surface-bg--info: var(--info-900);
    --surface-bg--warning: var(--warning-900);
    --surface-bg--danger: var(--danger-900);
  }

  /* ========================================================================= */
  /* border color */
  /* ========================================================================= */

  --border-color--base: var(--base-300);
  --border-color--base-hover: var(--base-400);

  --border-color--primary: var(--primary-400);
  --border-color--danger: var(--danger-400);
  --border-color--warning: var(--warning-400);
  --border-color--info: var(--info-400);
  --border-color--success: var(--success-400);

  @include dark {
    --border-color--base: var(--base-600);
    --border-color--base-hover: var(--base-500);

    --border-color--primary: var(--primary-400);
    --border-color--danger: var(--danger-400);
    --border-color--warning: var(--warning-400);
    --border-color--info: var(--info-400);
    --border-color--success: var(--success-400);
  }

  /* ========================================================================= */
  /* misc */
  /* ========================================================================= */

  --border-radius--surface: 16px;
}
