@use './colors.scss';
@use './text.scss';
@import './mixins.scss';
@import './fonts/inter/inter.scss';

/* Theme is directly accessible in the app and the variables may be programmatically reassigned */

/* ========================================================================= */
/* media query mixins */
/* ========================================================================= */

:root {
  --base-25: $slate-25;
  --base-50: $slate-50;
  --base-100: $slate-100;
  --base-200: $slate-200;
  --base-300: $slate-300;
  --base-400: $slate-400;
  --base-500: $slate-500;
  --base-600: $slate-600;
  --base-700: $slate-700;
  --base-800: $slate-800;
  --base-900: $slate-900;

  --primary-25: $purple-25;
  --primary-50: $purple-50;
  --primary-100: $purple-100;
  --primary-200: $purple-200;
  --primary-300: $purple-300;
  --primary-400: $purple-400;
  --primary-500: $purple-500;
  --primary-600: $purple-600;
  --primary-700: $purple-700;
  --primary-800: $purple-800;
  --primary-900: $purple-900;

  --danger-25: $danger-25;
  --danger-50: $danger-50;
  --danger-100: $danger-100;
  --danger-200: $danger-200;
  --danger-300: $danger-300;
  --danger-400: $danger-400;
  --danger-500: $danger-500;
  --danger-600: $danger-600;
  --danger-700: $danger-700;
  --danger-800: $danger-800;
  --danger-900: $danger-900;

  --warning-25: $warning-25;
  --warning-50: $warning-50;
  --warning-100: $warning-100;
  --warning-200: $warning-200;
  --warning-300: $warning-300;
  --warning-400: $warning-400;
  --warning-500: $warning-500;
  --warning-600: $warning-600;
  --warning-700: $warning-700;
  --warning-800: $warning-800;
  --warning-900: $warning-900;

  --success-25: $success-25;
  --success-50: $success-50;
  --success-100: $success-100;
  --success-200: $success-200;
  --success-300: $success-300;
  --success-400: $success-400;
  --success-500: $success-500;
  --success-600: $success-600;
  --success-700: $success-700;
  --success-800: $success-800;
  --success-900: $success-900;

  /* ========================================================================= */
  /* font family */
  /* ========================================================================= */

  --font-family: $font-family--inter;

  /* ========================================================================= */
  /* text form */
  /* ========================================================================= */

  --typography-font-size--sm: $font-size--xs;
  --typography-line-height--sm: $line-height--xs;
  --typography-letter-spacing--sm: $letter-spacing--xs;
  @include md {
    --typography-font-size--sm: $font-size--sm;
    --typography-line-height--sm: $line-height--sm;
    --typography-letter-spacing--sm: $letter-spacing--sm;
  }

  --typography-font-size--md: $font-size--sm;
  --typography-line-height--md: $line-height--sm;
  --typography-letter-spacing--md: $letter-spacing--sm;
  @include md {
    --typography-font-size--md: $font-size--md;
    --typography-line-height--md: $line-height--md;
    --typography-letter-spacing--md: $letter-spacing--md;
  }

  --typography-font-size--lg: $font-size--lg;
  --typography-line-height--lg: $line-height--lg;
  --typography-letter-spacing--lg: $letter-spacing--lg;
  @include md {
    --typography-font-size--lg: $font-size--xl;
    --typography-line-height--lg: $line-height--xl;
    --typography-letter-spacing--lg: $letter-spacing--xl;
  }

  --heading-font-size--sm: $font-size--2xl;
  --heading-line-height--sm: $line-height--2xl;
  --heading-letter-spacing--sm: $letter-spacing--2xl;
  @include md {
    --heading-font-size--sm: $font-size--4xl;
    --heading-line-height--sm: $line-height--4xl;
    --heading-letter-spacing--sm: $letter-spacing--4xl;
  }

  --heading-font-size--md: $font-size--3xl;
  --heading-line-height--md: $line-height--3xl;
  --heading-letter-spacing--md: $letter-spacing--3xl;
  @include md {
    --heading-font-size--md: $font-size--5xl;
    --heading-line-height--md: $line-height--5xl;
    --heading-letter-spacing--md: $letter-spacing--5xl;
  }

  --heading-font-size--lg: $font-size--4xl;
  --heading-line-height--lg: $line-height--4xl;
  --heading-letter-spacing--lg: $letter-spacing--4xl;
  @include md {
    --heading-font-size--lg: $font-size--6xl;
    --heading-line-height--lg: $line-height--6xl;
    --heading-letter-spacing--lg: $letter-spacing--6xl;
  }

  /* ========================================================================= */
  /* text color */
  /* ========================================================================= */

  --text-color--base: var(--base-900);
  --text-color--weak: var(--base-500);
  --text-color--primary: var(--primary-600);

  @include dark {
    --text-color--base: var(--base-50);
    --text-color--weak: var(--base-300);
    --text-color--primary: var(--primary-300);
  }

  /* ========================================================================= */
  /* surface background */
  /* ========================================================================= */

  --surface-bg--base: white;
  --surface-bg--base-raised: var(--base-100);

  --surface-bg--primary: var(--primary-50);
  --surface-bg--primary-raised: var(--primary-100);

  --surface-bg--success: var(--success-50);
  --surface-bg--info: var(--info-50);
  --surface-bg--warning: var(--warning-50);
  --surface-bg--danger: var(--danger-50);

  @include dark {
    --surface-bg--base: var(--base-900);
    --surface-bg--base-raised: var(--base-800);

    --surface-bg--primary: var(--primary-900);
    --surface-bg--primary-raised: var(--primary-800);

    --surface-bg--success: var(--success-900);
    --surface-bg--info: var(--info-900);
    --surface-bg--warning: var(--warning-900);
    --surface-bg--danger: var(--danger-900);
  }

  /* ========================================================================= */
  /* border color */
  /* ========================================================================= */

  --border-color--base: var(--base-400);
  --border-color--primary: var(--primary-400);
  --border-color--danger: var(--danger-400);
  --border-color--warning: var(--warning-400);
  --border-color--info: var(--info-400);
  --border-color--success: var(--success-400);

  @include dark {
    --border-color--base: var(--base-400);
    --border-color--primary: var(--primary-400);
    --border-color--danger: var(--danger-400);
    --border-color--warning: var(--warning-400);
    --border-color--info: var(--info-400);
    --border-color--success: var(--success-400);
  }

  /* ========================================================================= */
  /* button */
  /* ========================================================================= */

  --button-base-bg: var(--base-900);
  --button-base-bg--hover: var(--base-800);

  --button-primary-bg: var(--primary-700);
  --button-primary-bg--hover: var(--primary-600);

  /* ========================================================================= */
  /* misc */
  /* ========================================================================= */

  --border-radius--square: 2px;
  --border-radius--md: 16px;
}
